body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.grid-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
    "nav nav nav nav"
    "formulario-titulo formulario-titulo formulario-titulo formulario-titulo"
    "main1 main2 main3 main4"
    "footer footer footer footer";
  gap: 0.5 em 0.4em;
}
.item1 {
  grid-area: nav;
  background: rgb(56, 187, 56);
  text-decoration: none;
  font-size: 1.5rem;
}
.links-navbar {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 7px;
  color: white;
}
a:hover {
  color: red;
}
.marca {
  justify-content: flex-start;
  color: white;
  grid-area: nav;
  text-decoration: none;
  list-style: none;
}
.item8 {
  grid-area: footer;
  background: #3b3b3b;
  color: white;
}
.columna-1-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.columna-3-footer {
  padding-right: 8em;
  padding-left: 8em;
}
.logo {
  width: 30%;
}
.redes {
  display: flex;
  justify-content: space-around;
}
.marca {
  justify-content: flex-start;
  color: white;
  grid-area: nav;
  text-decoration: none;
  list-style: none;
}

.columns-grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "columna-1-footer columna-2-footer columna-3-footer";
}
.logo-color {
  color: rgb(56, 187, 56);
}
.main1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: main1;
  margin-top: 3em;
  margin-bottom: 10em;
}
.main2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: main2;
  margin-top: 3em;
  margin-bottom: 10em;
}
.main3 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: main3;
  margin-top: 3em;
  margin-bottom: 10em;
}
.main4 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: main4;
  margin-top: 3em;
  margin-bottom: 10em;
}
.formulario-titulo {
  grid-area: formulario-titulo;
  margin-top: 5em;
  margin-bottom: 6em;
}
